@font-face {
    font-family: '../Font/Poppins';
    src: url('../Font/Poppins-ExtraBold.woff2') format('woff2'),
        url('../Font/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../Font/Poppins';
    src: url('../Font/Poppins-ExtraLight.woff2') format('woff2'),
        url('../Font/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../Font/Poppins';
    src: url('../Font/Poppins-Bold.woff2') format('woff2'),
        url('../Font/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../Font/Poppins';
    src: url('../Font/Poppins-Italic.woff2') format('woff2'),
        url('../Font/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../Font/Poppins';
    src: url('../Font/Poppins-Medium.woff2') format('woff2'),
        url('../Font/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../Font/Poppins';
    src: url('../Font/Poppins-Regular.woff2') format('woff2'),
        url('../Font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h1,h2,h3,h4,h5,h6,p,span,ul,ol,li,input,div,section,a{
	font-family:"../Font/Poppins";
}

