:root{
    --primary-color: #D7FB00;
    --background-color: #000000;
    --paragraph-color: #676868;
    --white-color:#FFFFFF;
    --header-color:#1C1B3333;
    --grey-color:#676868;
    --light-primary-origin:#3563E9;
}